/.vscode
/Adobe After Effects 2022.lnk
/Adobe Media Encoder 2022
/Adobe_After_Effects_2022_v22.0.0.111x64
/Adobe_Media_Encoder_v22.0
/Boris_FX_Continuum_Complete_2022
/c92706ad-a5f3-45c3-8990-6565f31dae99.webp
/DAUM
/desktop.ini
/GitHub Desktop.lnk
/GTA V
/Internet Download Manager.lnk
/Magic Bullet Suite Installer.exe
/packages
/Picco - Chrome.lnk
/RevisionFX_Twixtor_Pro_7.0.2
/Roblox Studio.lnk
/Roblox.lnk
/Shortcut to Desktop (OneDrive - Personal).lnk
/Twitch_Windows